/* body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

#section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container{
    height: 100%;
}

#footer {
  width: 100%;
  align-self: flex-end;
}

._aahw {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;

}

._aail {
  font-size: 12px;

}

.rgh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}